body {

}

div {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: gibanje;
    animation-duration: 4s;
    
}

@keyframes gibanje {
    /*
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(800px);
    }
    */
    0% { transform: translate(0px, 0px) rotate(0deg); background-color: blue;}
    25% { transform: translate(800px, 0px) rotate(360deg); background-color: rgb(255,0,179);}
    50% { transform: translate(800px, 400px) rotate(60deg); background-color: rgb(0,247,255);}
    75% { transform: translate(0px, 400px) rotate(90deg); background-color: rgb(30, 255, 0);}


}