body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}
.container{
    position: relative;
    width: 500px;
    height: 300px;
    display: flex;
    
    align-items: center;
    background: linear-gradient(45deg, rgb(255, 2, 2), rgb(52, 181, 250));
    border-radius: 20px;
}
.container img{
    height: 300px;
    position: absolute;
    transition: all 0.3s;
    bottom: 0;
    filter: drop-shadow(5px 5px 10px rgba(0,0,0,.5));

}
.container: img:nth-child(1){
    left: 50%;
}
.container img:nth-child(2){
    left: 60%;
}
.container img:nth-child(3){
    left: 60%;
}
.container:hover img:nth-child(1){
    left: 50%;
}
.container:hover img:nth-child(2){
    left: 65%;
}
.container:hover img:nth-child(3){
    left: 80%;
}

.container:hover img{
    height: 400px;
}
.container .content{
    position: relative;
    width: 50%;
    left: 30%;
    color: white;
    opacity: 0;
    transition: all 0.3s;
}
.container:hover .content{
    opacity: 1;
    left: 10%;
    
}
